@charset "utf-8";
/* CSS Document */

 /*Begin skin button*/
.skin_blue{
	background-color:#00F;
	width:15px;
	height:15px;
	margin-left:5px;
	float:left;
	margin-top:3px;
}
.skin_blue_selected,.skin_orange_selected{
	background-color:#FFF;
	width:7px;
	height:7px;
	margin-top:4px;
	margin-left:4px;
}
.skin_orange{
	background-color:#F60;
	width:15px;
	height:15px;
	margin-left:5px;
	float:left;
	margin-top:3px;
}
.skin_blue:hover,.skin_orange:hover{
	cursor:pointer;
}
  /*Begin skin button*/